<p-menubar [model]="items" styleClass="font-cairo-medium m-auto">
    <ng-template pTemplate="start">
        <img class="m-auto" src="logo2.png" alt="" width="200px">
    </ng-template>

    <ng-template pTemplate="item" let-item let-root="root">
        <a pRipple class="flex align-items-center p-menuitem-link">
            <span class="ml-2">{{ item.label }}</span>
            <i *ngIf="item.items" [ngClass]="['pi', root ? 'pi-angle-down ml-2' : 'pi-angle-right ml-auto']"></i>
        </a>
    </ng-template>

    <ng-template pTemplate="end">
        <p-button label="حجز موعد" icon="" size="large"
            class="bg-[#4B3955] p-2 rounded-lg text-white flex justify-end" />
    </ng-template>
</p-menubar>


