<button id="addDoctor"
  class="inline-flex items-center text-gray-500 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 font-medium rounded-lg text-sm px-3 py-1.5   "
  type="button" (click)="openModal()">
  إضافة دكتور
</button>

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
  <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
    <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
      <tr>

        <th scope="col" class="px-6 py-3">
          الأسم
        </th>
        <th scope="col" class="px-6 py-3">
          التخصص
        </th>
        <th scope="col" class="px-6 py-3">
          حذف
        </th>
        <th scope="col" class="px-6 py-3">
          تعديل
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="bg-white border-b hover:bg-gray-50 " *ngIf="doctors.length == 0">
        <td class="px-6 py-4">
          <span class="w-100"> لا يوجد دكتور </span>
        </td>
      </tr>
      @for (doctor of doctors; track $index) {
      <tr class="bg-white border-b   hover:bg-gray-50 ">
        <th scope="row" class="flex items-center px-6 py-4 text-gray-900 whitespace-nowrap ">
          <img class="w-10 h-10 rounded-full" [src]="doctor.img" [alt]="doctor.name">
          <div class="ps-3">
            <div class="text-base font-semibold">{{doctor.name}}</div>
          </div>
        </th>
        <td class="px-6 py-4">
          {{getSpecializationName(doctor.specializationId)}}
        </td>
        <td class="px-6 py-4">

          <button class="font-medium text-red-600 hover:underline p-2" [swal]="deleteSwal">
            <swal #deleteSwal title="هل انت متاكد من حذف  {{ doctor.name }}"
              text="في حالة الموافقة سيتم حذف الدكتور نهائيا" icon="question" [showCancelButton]="true"
              confirmButtonText="حذف" cancelButtonText="الغاء" [focusCancel]="true" (confirm)="remveDoctor(doctor.id)">
            </swal>
            حذف
          </button>

        </td>
        <td class="px-6 py-4 ">
          <button (click)="editDoctor(doctor.id)" class="font-medium text-blue-600 hover:underline p-2">تعديل</button>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>