<section class="bg-white  font-cairo-medium">
    <!-- <app-breadcrumb ></app-breadcrumb> -->
    <div class="py-8 px-4 mx-auto max-w-screen-xl lg:py-16 lg:px-6">
        <div class="mx-auto max-w-screen-sm text-center mb-8 lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 ">اطبائنا</h2>
            <p class="font-light text-gray-500 lg:mb-16 sm:text-xl ">
                في مستشفانا، نقدم لك فريقًا من الأطباء المتخصصين الذين يجمعون بين الخبرة الطبية العالية والرعاية
                الإنسانية، ملتزمين بتقديم أفضل العلاجات وأكثرها تطورًا لضمان صحتك وراحتك في كل خطوة من رحلتك العلاجية.
            </p>
        </div>
        <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4">
            @for (doctor of doctors; track $index) {
            <div class="bg-white rounded-lg border border-gray-200 shadow-sm">
                <img class="p-4 w-full rounded-lg" [src]="doctor.img" [alt]="doctor.title">
                <div class="px-5 pb-5">
                    <h3 class="text-xl font-bold tracking-tight text-gray-900 ">
                        <p>{{doctor.name}}</p>
                    </h3>
                    <span class="text-gray-500">{{getSpecializationName(doctor.specializationId)}}</span>
                </div>
            </div>
            }
        </div>
    </div>
</section>